<div class="row">
	<div class="large-12 columns">
		<div class="panel callout radius">
      <h5><a href="../assignment_quesitons/<%= assignment_question.id%>"><%= assignment_question.question_number %></a></h5>
        <p><%= assignment_question.question.html_safe%></p>
		</div>
	</div>
</div>


