- renderer = Redcarpet::Render::HTML.new(hard_wrap: true)
- markdown = Redcarpet::Markdown.new(renderer, extensions = {})
.row
  .large-12.columns
    .panel
      .row
        .small-2.columns
          h1= assignment_question.question_number
        .small-8.columns
          p= markdown.render(assignment_question.question).html_safe
        .small-2.columns
          .row
            h5
              a data-reveal-id="help-#{assignment_question.question_number}" href="#"  Help
            .reveal-modal aria-hidden="true" aria-labelledby="modalTitle" data-reveal="" id="help-#{assignment_question.question_number}" role="dialog" 
              h2#modalTitle
                = assignment_question.question_number
                | Help
              p= markdown.render(assignment_question.help.to_s).html_safe
              a.close-reveal-modal aria-label="Close"  ×
          hr/
          .row
            h5
              | Weight: #{assignment_question.weight.to_s}
