<div class="row">
	<div class="large-12 columns">
		<div class="panel callout radius">
      <h5><a href="assignments/<%= assignment.id%>"><%= assignment.name %></a></h5>
        <p><strong><%= assignment.due %></strong></p>
        <hr>
        <p><%= assignment.base_info%></p>
		</div>
	</div>
</div>

