<div class="row">
	<div class="large-12 columns">
		<div class="panel callout radius">
	  		<h5><%= note.title %></h5>
	  		<p><strong><%= note.date %></strong></p>
	  		<hr>
	  		<p><%= note.body %></p>
		</div>
	</div>
</div>



