p#notice= notice
.row
  .large-12.columns
    h1= @course.code
    h5= @course.description
    hr/
.row
  .large-12.columns
    .row
      .large-4.small-6.columns
        h4 Announcements
        hr/
        = render_notes.html_safe
      .large-4.small-6.columns
        h4=link_to "Assignments", assignments_path
        hr/
        = render_assignments.html_safe
      .large-4.small-6.columns
        h4=link_to "Lectures", lectures_path
        hr/
        - @lectures = @course.lectures
        == render partial: "courses/lectures", collection: @lectures, as: :lecture
  hr/
